body {
  background-color: #dcdfce;
  margin-top: -20px;
  margin-bottom: -20px;
}

#page {
  width: 80%;
  margin: auto;
  background-color: white;
}
#div2 {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 100px;
}
#img {
  width: 70%;
  margin-top: 50px;
  margin-right: 15px;
}
#right {
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  width: 30%;
  margin-top: 50px;
  padding: 15px;
}
.pres {
  display: flex;
  line-height: 25px;
  margin-left: 20px;
  font-family: sans-serif;
}
.pres > img {
  margin-top: 30px;
}
.pres > h3 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  font-weight: 600;
  color: #02475b;
}
button {
  font-weight: 700;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 5px;
  padding: 15px 90px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 186, 57);
  color: #ffffff;
}
#category {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.pop {
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
  letter-spacing: 1px;
}
.viewall {
  color: #fcb716;
  cursor: pointer;
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

#div3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-top: 0px;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
#div3 > div {
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
#div3 > div > img {
  margin-top: 25%;
  margin-left: 30%;
}
#div3 > div > p {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
}
#div4 {
  margin-top: 70px;
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
#div4 > img {
  width: 100%;
  height: 100%;
}
#healthCheackup {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
#healthCheackup > h4 {
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
  letter-spacing: 1px;
}
#healthCheackup > h4:nth-child(2) {
  color: #fcb716;
}

#div5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-top: 0px;
  font-size: larger;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
#div5 > div {
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

#div6 {
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
#div6 > img {
  margin-top: 15px;
  margin-left: 20px;
}
#div6 > span {
  color: #02475b;
  font-size: large;
  font-family: sans-serif;
  font-weight: bolder;
  margin-left: 20px;
  margin-bottom: 20%;
}
#tests {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
#tests > h4 {
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
  letter-spacing: 1px;
}

#div7 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
#div7 > div {
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
.imgg {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

#diabetes > h4 {
  margin-top: 40px;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
  letter-spacing: 1px;
}
#diabetes {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
#div8 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
#div8 > div {
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
#booking > h4 {
  margin-top: 40px;
  font-family: sans-serif;
  font-weight: bold;
  color: #818b8d;
  letter-spacing: 1px;
  margin-left: 30px;
  margin-right: 30px;
}
* small {
  font-weight: 100;
  font-size: medium;
  font-weight: bold;
}
#div9 {
  display: flex;
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
}
#div9 > div {
  margin: auto;
  color: #02475b;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: small;
  line-height: 10px;
  letter-spacing: 1px;
}
#wellness {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

#wellness > h4 {
  margin-top: 40px;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
  letter-spacing: 1px;
}

#div10 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
#div10 > div {
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
#div11 {
  margin-top: 150px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
  color: #02475b;
  margin-left: 30px;
  margin-right: 30px;
}
#lastdiv {
  display: grid;
  margin-top: 50px;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
#div19,
#div20 {
  justify-content: space-between;
}
#vitalorgan {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  align-content: center;
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
#womencare {
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-content: center;
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
#upper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-content: center;
}
#upper > div > img {
  height: 50px;
  width: 50px;
  margin-top: 25%;
  margin-left: 30%;
}
#vitalorgan > div > img {
  height: 50px;
  width: 50px;
  margin-top: 25%;
  margin-left: 30%;
}
#vitalorgan > div > p {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
}
#upper > div > p {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  color: #02475b;
}
#lower > div > img {
  height: 120px;
  width: 500px;
  padding-left: 25px;
  padding-top: 25px;
  border-radius: 5%;
}

.typepara {
  font-size: smaller;
  margin-left: 15px;
  margin-top: 0px;
  font-family: sans-serif;
  color: #02475b;
}
.disc {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 800;
  font-family: sans-serif;
  color: #34aa55;
  font-size: smaller;
}
.typetitle {
  margin-left: 15px;
  margin-top: 15px;
  font-family: sans-serif;
  color: #02475b;
  font-weight: 600;
  line-height: 30px;
  margin-right: 25px;
}
.typeinc {
  margin-left: 15px;
  margin-top: 40px;
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
  color: #02475b;
}
.typeline {
  font-size: x-small;
  font-weight: bold;
  margin-left: 15px;
  font-family: sans-serif;
  color: #02475b;
}
.typeex {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 800;
  font-size: x-small;
  font-family: sans-serif;
  color: #fcb714;
}
.hor {
  margin-left: 15px;
  margin-right: 10px;
}
.mrpp {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 700;
  color: gray;
  font-family: sans-serif;
  font-size: smaller;
}
.discount {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 800;
  font-family: sans-serif;
  color: #34aa55;
  font-size: x-small;
}
.typeprice {
  margin-left: 15px;
  font-family: sans-serif;
  color: #02475b;
  font-weight: 700;
}
.savings {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 700;
  font-size: x-small;
  font-family: sans-serif;
  color: #02475b;
}
.button {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 700;
  font-family: sans-serif;
  color: #fcb714;
}
.cards {
  cursor: pointer;
}
#tests > #polars {
  color: #fcb716;
}
#diabetes > #germanship {
  color: #fcb716;
}
#wellness > #spanishers {
  color: #fcb716;
}
#care > div > h4 {
  display: inline-flex;
}

#organs > div > h4 {
  display: inline-flex;
}

#organs > div > .viewall {
  margin-left: 30%;
  text-align: right;
}
#care > div > .viewall {
  margin-left: 30%;
  text-align: right;
}
