.login-main-wrapper {
	.form-sidebar {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 46%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: $title-color-hover;
			z-index: -1;
		}
		height: 100vh;
		.logo-section {
			padding: 60px 30px;
		}
		.form-image {
			max-width: 496px;
			position: absolute;
			bottom: 0;
			left: 50px;
			img {
				width: $my-width;
			}
		}
	}
	.login-main {
		max-width: 500px;
		form {
			h4 {
				font-weight: $font-weight1;
			}
			input.my-width {
				width: $my-width;
				border: none;
				background-color: #ebf5f5;
				padding: 12px 20px;
				font-weight: 600;
				color: #828383;
				margin-top: 15px;
			}
			ul {
				display: flex;
				justify-content: space-between;
				margin-top: 15px;
				li {
					a,
					label {
						color: $title-color-hover;
					}
				}
			}
			a.button-btn {
				padding: 0 80px;
				padding-left: 30px !important;
			}
			.form-media {
				justify-content: start;
				li {
					margin-right: 15px;
					a {
						width: 40px;
						height: 40px;
						border-radius: 50px;
						color: $title-color-white;
						background-color: #4867aa;
						text-align: center;
						line-height: 40px;
						display: inline-block;
					}
					&:nth-child(2) {
						a {
							background-color: #1da1f2 !important;
						}
					}
					&:nth-child(3) {
						a {
							background-color: #db0324;
						}
					}
					&:nth-child(4) {
						a {
							background-color: #db0324;
						}
					}
				}
			}
		}
	}
}

.text-color-pink {
	color: $title-color-hover;
}