/*--------
header css
--------*/

.main-header-wrapper {
	.sb-main-header {
		.top-header-section {
			background-color: $section-bg-color;
			.sb-top-left-section {
				padding: 13px 0px;
				a {
					&:hover {
						color: $title-color-hover;
					}
				}
			}
			.sb-top-right-section {
				ul {
					display: flex;
					justify-content: flex-end;
					align-items: baseline;
					li {
						a {
							padding: 13px;
							display: inline-block;
							&:hover {
								color: $title-color-hover;
							}
						}
					}
					.login-btn {
						-webkit-transition: $transition;
						-moz-transition: $transition;
						-ms-transition: $transition;
						-o-transition: $transition;
						transition: $transition;
						width: 160px;
						text-align: center;
						background-color: #b51a41;
						color: $text-hover-color;
						span {
							a {
								padding: 13px 3px !important;
								color: $text-hover-color;
							}
						}
						&:hover {
							a,
							span {}
						}
					}
				}
			}
		}
		.mid-header-section {
			padding: 18px 0px;
			.sb-mid-right-section {
				ul {
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}
				li {
					padding: 0px 30px;
					border-right: 1px solid #d3d3d3;
					a {
						float: left;
						.fas {
							width: 35px;
							height: 35px;
							border-radius: 50%;
							background-color: #ffd9db;
							color: $title-color-hover;
							text-align: $align-center;
							line-height: 35px;
							margin: 10px 15px;
						}
					}
				}
			}
		}
	}
}

.menu-items-wrapper {
	background-color: $title-color-hover;
	padding: 13px 0px;
	nav {
		ul {
			li {
				position: relative;
				padding: 0 10px;
				a {
					color: $text-hover-color;
					padding: 0px 15px;
					span {
						font-size: 10px;
						margin-left: 3px;
					}
				}
				.dropdown-items {
					position: absolute;
					background-color: $title-color-white;
					border-bottom: 2px solid $title-color-hover;
					z-index: 999;
					top: 50px;
					opacity: 0;
					width: 250px;
					visibility: hidden;
					left: -50%;
					padding: 20px 0px;
					-webkit-transition: $transition;
					-moz-transition: $transition;
					-ms-transition: $transition;
					-o-transition: $transition;
					transition: $transition;
					box-shadow: 2px 0 10px #0000001a;
					li {
						padding: 7px 20px;
						position: relative;
						-webkit-transition: $transition;
						-o-transition: $transition;
						-ms-transition: $transition;
						-moz-transition: $transition;
						transition: $transition;
						a {
							color: $title-color;
							span {
								position: absolute;
								right: 20px;
								top: 50%;
								transform: translateY(-50%);
							}
						}
						.sub-dropdown {
							opacity: 0;
							visibility: hidden;
							position: absolute;
							left: 250px;
							padding: 20px 0px;
							top: 0;
							width: 200px;
							background-color: $title-color-white;
							border-bottom: 2px solid $title-color-hover;
							box-shadow: 2px 0 10px #0000001a;
							li {
								padding: 7px 20px;
								a {
									color: $title-color;
								}
								&:hover {
									a {
										color: $title-color-white;
									}
								}
							}
						}
						&:hover {
							&:after {
								display: none;
							}
							background-color: $title-color-hover;
							a {
								color: $title-color-white;
							}
							.sub-dropdown {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					top: 46px;
					width: 0%;
					height: 3px;
					background-color: $title-color-white;
					transform: translateX( -50%);
					-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
					-o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
					transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				}
				&:hover {
					&::after {
						width: $my-width;
					}
					.dropdown-items {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	form {
		input {
			width: 380px;
			background: #e43662;
			border: none;
			height: 40px;
			color: $title-color-white;
			padding-left: 30px;
			margin-top: 2px;
			&::placeholder {
				color: $title-color-white;
			}
		}
		span {
			position: absolute;
			right: 25px;
			color: $title-color-white;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}


/*=================
Banner section css
=================*/

.banner-section-wrapper {
	background-image: url(../images/bg-img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 160px 0px;
	// height:$my-height;
	.sb-banner-section {
		h4 {
			line-height: 35px;
		}
		h2 {
			// line-height: 40px;
			padding-top: 20px;
			font-size: 54px;
			span {
				color: $title-color-hover;
			}
		}
		p {
			width: 500px;
			padding-top: 20px;
		}
	}
}

// =========================INDEX-02 PAGE HEADER CSS START 
.main-header-wrapper2 {
	position: relative;
	z-index: 2;
	&:after {
		content: '';
		position: absolute;
		right: 0px;
		display: block;
		height: 51px;
		width: 26%;
		background-color: $bg-color2;
		top: 0;
		z-index: -1;
	}
	.sb-header-section2 {
		.logo-wrapper2 {
			line-height: 141px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 5px;
				top: -8px;
				height: 112%;
				display: block;
				transform: rotate( 24deg);
				background-color: $section-bg-color2;
				right: 3px;
				z-index: 9;
			}
		}
		.menu-top-section2 {
			position: relative;
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: $bg-color2;
				padding-left: 20px;
				li {
					padding: 13px 0px;
					a {
						color: $title-color-white;
						span {
							padding-right: 7px;
						}
						&:hover {
							color: $section-bg-color2;
						}
					}
					ul {
						padding: 0px;
						align-items: center;
						li {
							padding: 0px 10px;
						}
					}
				}
				.btn2 {
					width: 180px;
					text-align: $align-center;
					background-color: $section-bg-color2;
					&:hover {
						a {
							color: $title-color-white !important;
						}
					}
				}
			}
			&::before {
				content: '';
				position: absolute;
				left: -23px;
				display: block;
				height: $my-width;
				width: 27px;
				background-color: $bg-color2;
				top: 0px;
				clip-path: polygon($my-width 5%, 0% $my-width, $my-width $my-width);
			}
		}
		.menu-section2 {
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px 0px;
				padding-left: 20px;
				padding-bottom: 11px;
				li {
					a {
						width: 100%;
						display: block;
						i {
							font-size: $font-xxsmall;
							padding-left: 3px;
						}
					}
					.dropdown-items {
						position: absolute;
						background-color: $title-color-white;
						border-bottom: 2px solid $bg-color2;
						z-index: 999;
						top: 50px;
						opacity: 0;
						width: 240px;
						visibility: hidden;
						left: -50%;
						padding: 20px 0px;
						padding-left: 0;
						display: block;
						box-shadow: 2px 0 10px #0000001a;
						-webkit-transition: $transition;
						-moz-transition: $transition;
						-ms-transition: $transition;
						-o-transition: $transition;
						transition: $transition;
						li {
							padding: 7px 20px;
							position: relative;
							a {
								color: $title-color;
								span {
									position: absolute;
									right: 20px;
									top: 50%;
									transform: translateY(-50%);
								}
							}
							.sub-dropdown {
								opacity: 0;
								visibility: hidden;
								position: absolute;
								left: 240px;
								padding: 20px 0px;
								top: 0;
								width: 200px;
								background-color: $title-color-white;
								border-bottom: 2px solid $bg-color2;
								box-shadow: 2px 0 10px #0000001a;
								display: block;
								li {
									padding: 7px 20px;
									display: block;
									a {
										color: $title-color;
									}
									&:hover {
										a {
											color: $title-color-white;
										}
									}
								}
							}
							&:hover {
								&:after {
									display: none;
								}
								background-color: $bg-color2;
								a {
									color: $title-color-white;
								}
								.sub-dropdown {
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
					// .modal-body {
					// 	position: relative;
					// 	margin-bottom: 25px;
					// 	input {
					// 		border: none;
					// 		width: $my-width;
					// 		border-bottom: 1px solid $border-color;
					// 		color: $title-color;
					// 		font-size: 20px;
					// 		color: $title-color;
					// 		font-weight: $font-weight1;
					// 		&::placeholder {
					// 			font-size: 20px;
					// 			color: $border-color;
					// 		}
					// 	}
					// 	span {
					// 		position: absolute;
					// 		right: 20px;
					// 	}
					// }
					&:hover {
						.dropdown-items {
							opacity: 1;
							visibility: visible;
						}
						a {
							color: $section-bg-color2;
						}
					}
				}
				.book-btn2 {
					height: 50px;
					width: 150px;
					background-color: $bg-color2;
					color: $title-color-white;
					display: inline-block;
					text-align: center;
					line-height: 50px;
				}
			}
		}
	}
	.mobile-menu-wrapper {
		background-color: $bg-color2;
	}
	#sidebar {
		#cssmenu {
			ul {
				li {
					.social-icon {
						li {
							background-color: #004274 !important;
							a {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	.nav-link {
		padding: 0 !important;
	}
}

.banner-main-wrapper2 {
	float: left;
	width: $my-width;
	position: relative;
	#carouselExampleCaptions {
		.carousel-control-next-icon,
		.carousel-control-prev-icon {
			background-image: none;
			width: 40px;
			height: 40px;
			border: 1px solid $title-color-white;
			line-height: 40px;
			top: auto;
		}
		.carousel-control-next,
		.carousel-control-prev {
			width: auto;
			top: auto;
			-webkit-transition: $transition;
			-moz-transition: $transition;
			-ms-transition: $transition;
			-o-transition: $transition;
			transition: $transition;
			&:hover,
			&:focus {
				background-color: $title-color-white;
				opacity: 1;
				i {
					color: $body-color !important;
				}
			}
		}
		.carousel-control-prev {
			right: 46px;
			left: auto;
		}
		.carousel-control-next {
			right: 7px;
		}
		.carousel-item {
			background-image: url('../images/bg-image02.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			padding: 150px 0;
			width: $my-width;
			text-align: left;
			color: #111;
			h4 {
				text-transform: uppercase;
				font-size: 26px;
				font-weight: $font-weight1;
				padding-bottom: 10px;
				span {
					color: $bg-color2;
				}
			}
			h3 {
				font-weight: $font-weight1;
				padding-bottom: 10px;
				font-size: 40px;
			}
			p {
				color: $title-color;
				padding-bottom: 10px;
			}
			ul {
				display: flex;
				align-items: center;
				padding-top: 30px;
				li {
					padding-right: 20px;
				}
			}
		}
	}
}

// index 03 page header
.main-header-wrapper3 {
	.sb-main-header3 {
		.top-header3 {
			padding: 18px 0px;
			.logo-wrapper3 {}
			.top-right-section {
				ul {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					li {
						a {
							float: left;
							i {
								border-radius: 50%;
								color: $bg-color3;
								text-align: center;
								line-height: 35px;
								margin: 10px
							}
							.search {
								background-color: $section-bg-color3;
								color: $title-color-white;
								height: 40px;
								width: 40px;
								border-radius: 50%;
								line-height: 40px;
							}
						}
						+li {
							padding-left: 20px;
						}
					}
				}
			}
		}
		.menu-item-wrapper3 {
			background-color: $section-bg-color3;
			.social-media-icons {
				li {
					a {
						color: $title-color-white;
						color: $title-color-white;
						padding: 9px 15px;
						display: inline-block;
						-webkit-transition: $transition;
						-o-transition: $transition;
						-ms-transition: $transition;
						-moz-transition: $transition;
						transition: $transition;
						&:hover {
							color: $bg-color3;
						}
					}
				}
			}
			.home3-btn {
				-webkit-transition: $transition;
				-o-transition: $transition;
				-ms-transition: $transition;
				-moz-transition: $transition;
				transition: $transition;
				background-color: $title-color-white;
				&:hover {
					background-color: transparent;
					a {
						color: $title-color-white !important;
					}
				}
			}
			.dropdown-items {
				border-bottom: 2px solid $section-bg-color3;
				li {
					&:hover {
						background-color: $section-bg-color3;
					}
					.sub-dropdown {
						border-bottom: 2px solid $section-bg-color3;
					}
				}
			}
		}
		.mobile-menu-wrapper {
			background-color: $section-bg-color3;
		}
	}
	#sidebar {
		#cssmenu {
			ul {
				li {
					.social-icon {
						li {
							background-color: #ff9e21 !important;
							a {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

.mobile-menu-wrapper .toggle-main-wrapper {
	display: block;
	.line {
		width: 30px;
		height: 3px;
		background-color: #ffffff;
		display: block;
		margin: 6px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}

.mega-menu {
	width: 700px !important;
	padding: 20px 0;
	display: flex !important;
	left: -330px !important;
	ul {
		display: block !important;
	}
}