.gallery-main-page {
	.overlay-color {
		background-color: #e1245499 !important;
	}
	ul {
		column-count: 5;
		column-gap: 15px;
		width: $my-width;
	}
}

/*----- team-page -----*/

.team-dr{
	background-color: $bg-color-white;
	.sb-founder-section{
		background-color: #ebf5f5;
	}
	.row{
		row-gap: 30px;
	}
	.page-2-heading{
		h4{
			color: $title-color-hover;
			&::before, &::after{
				display: none;
			}
		}
	}
	.sb-founder-section{
		section{
			.bg-change2{
				background-color: $bg-color-main;
			}
			.hover-type{
				a{
					background-color: $title-light-pink;
					color: $bg-color-main;
				}
			}
		}
	}
	.allteam-btn{
		display: flex;
		justify-content: center;
	}
}

/*----- single-dr -----*/
.team-single{
    padding-bottom: 60px;
    padding-top: 0;
}
.consult-wrap{
	padding: 30px;
	.consult{
		display: flex;
		align-items: center;
		column-gap: 15px;
		margin-bottom: 25px;
		i{
			color: $title-color-hover;
			margin-right: 10px;
		}
		h5{
			font-size: 18px;
			margin-bottom: 5px;
		}
	}
}
