.plr {
	padding: 0px 15px;
}

.contact-main-wrapper {
	float: left;
	width: $my-width;
	background-image: url('../images/breadcrumb.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 175px 0;
	.sb-contact-section {
		max-width: 350px;
		display: block;
		margin: 0 100px 0 auto;
		h4 {
			font-weight: $font-weight1;
		}
		.breadcrumb {
			padding-top: 20px;
			padding-right: 30px;
			li {
				color: $body-font;
				font-size: $font-size-20;
			}
		}
	}
}

// form section
.form-main-wrapper {
	float: left;
	width: $my-width;
	padding: 100px 0;
	section {
		background: #ebf5f5;
		padding: 30px;
		border-radius: 7px;
		display: flex;
		justify-content: flex-start;
		margin-top: 20px;
		span {
			display: inline-block;
			height: 50px;
			width: 50px;
			line-height: 40px;
			text-align: $align-center;
			background: #fff;
			border-radius: 50px;
			border: 5px solid #ffd9db;
			color: $title-color-hover;
			margin-right: 20px;
		}
		h6 {
			font-weight: $font-weight1;
			font-size: $font-size-22;
			line-height: 30px;
		}
	}
}

.form-section {
	margin-top: 15px;
	background-color: $section-bg-color;
	h6 {
		background-color: $title-color-hover;
		padding: 13px 30px;
		color: $title-color-white;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		font-size: 22px;
	}
	.form-input {
		padding: 30px;
		span {
			color: #707070;
			background: $title-color-white;
		}
		input {
			height: 50px;
		}
		input[type=radio] {
			height: auto !important;
		}
		.form-control:focus {
			border: 1px solid $border-color;
			box-shadow: none;
		}
	}
}