.blog-page-main-container {
	.blog-right-sidebar {
		.form-section {
			margin-top: 33px;
		}
		section {
			padding: 30px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			.input-group {
				input {
					height: 50px;
				}
				span {
					height: $my-width;
					padding: 15px 25px;
					background: $title-color-hover;
					border: none;
					color: $title-color-white;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0px;
				}
			}
			.post-main-container {
				display: flex;
				align-items: $align-center;
				margin-bottom: 50px;
				.post-container {
					.h6 {
						font-size: $font-size;
					}
					p {
						margin-top: 7px;
						font-size: $font-xsmall;
					}
				}
				&.hr-line {
					position: relative;
					&::before {
						content: '';
						position: absolute;
						left: 0;
						bottom: -25px;
						width: $my-width;
						border-top: 1px solid #d4d4d4;
					}
				}
			}
			.categories {
				li {
					line-height: 35px;
					span {
						color: $title-color-hover;
						margin-right: 15px;
					}
				}
			}
			.insta-post {
				column-count: 4;
				column-gap: 7px;
				width: $my-width;
				li {
					width: $my-width;
					margin-bottom: 7px;
					img {
						width: $my-width;
					}
				}
			}
			.tags {
				flex-wrap: wrap;
				display: flex;
				column-gap: 10px;
				li {
					a {
						background-color: $title-color-white;
						margin-bottom: 10px;
						padding: 8px 14px;
						text-align: $align-center;
						display: inline-block;
						border-radius: 7px;
						-webkit-transition: $transition;
						-o-transition: $transition;
						-ms-transition: $transition;
						-moz-transition: $transition;
						transition: $transition;
					}
					&:hover {
						a {
							background-color: $title-color-hover;
							color: $title-color-white;
						}
					}
				}
			}
		}
	}
}

// blog single page css
.blog-page-main-container {
	.blog-single-main-page {
		.blog-box {
			.img-icon {
				p {
					left: 30px;
				}
				.owl-theme {
					.owl-dots {
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						bottom: 0;
						.owl-dot {
							span {
								-webkit-transition: $transition;
								-o-transition: $transition;
								-ms-transition: $transition;
								-moz-transition: $transition;
								transition: $transition;
								background-color: $title-color-hover;
								opacity: .4;
							}
							&:hover,
							&.active {
								span {
									background-color: $title-color-hover;
									width: 32px;
									opacity: 1;
								}
							}
						}
					}
				}
			}
			.blog-content {
				padding: 30px;
				background-color: $section-bg-color;
				.quote-sec {
					padding: 25px;
					background: $title-color-hover;
					text-align: $align-center;
					border-radius: 10px;
					margin-top: 30px;
					position: relative;
					p {
						color: $title-color-white;
						text-align: $align-center;
					}
					h6 {
						color: $title-color-white;
						text-align: $align-center;
						text-transform: uppercase;
						font-size: $font-size;
						margin: 20px 0;
					}
					img {
						position: absolute;
						left: 50%;
						top: 35px;
						transform: translateX(-50%);
					}
				}
				.tag-with-media {
					display: flex;
					justify-content: space-between;
					align-items: baseline;
					padding-top: 30px;
					margin-top: 30px;
					border-top: 1px solid #d4d4d4;
					.fa-tag {
						color: $title-color-hover;
					}
					.tag-buttons {
						padding: 0px;
						li {
							padding-right: 0;
							a {
								background: $title-color-white;
								display: inline-block;
								padding: 3px 9px;
								border-radius: 5px;
								-webkit-transition: $transition;
								-o-transition: $transition;
								-ms-transition: $transition;
								-moz-transition: $transition;
								transition: $transition;
								&:hover {
									background-color: $title-color-hover;
									color: $title-color-white;
								}
							}
						}
					}
					.social {
						ul {
							border-bottom: none;
							padding: 0;
							li {
								padding: 0 !important;
								a {
									i {
										color: $title-color;
									}
									&:hover {
										i {
											color: $title-color-white;
										}
									}
								}
							}
						}
					}
				}
			}
			.admin-main {
				background-color: #ebf5f5;
				margin-top: 30px;
				padding: 30px;
				border-radius: 7px;
				display: flex;
				justify-content: start;
				align-items: start;
				.admin-about {
					margin-left: 20px;
					padding-top: 15px;
					.h6 {
						font-size: 24px;
						span {
							color: $title-color-hover;
						}
						&:hover {
							color: $title-color;
						}
					}
					p {
						margin-top: 15px;
					}
					.more-btn {
						color: $title-color-white;
						background: $title-color-hover;
						padding: 0px 8px;
						margin-left: 15px;
						border-radius: 5px;
						display: inline-block;
						height: 20px;
						line-height: 18px;
						font-size: 10px;
						vertical-align: super;
					}
				}
			}
		}
	}
}

// blog page navigation
nav.page-navigation {
	margin-top: 50px;
	ul {
		li.page-item {
			margin-right: 20px;
			&:first-child,
			&:last-child {
				.page-link {
					border-radius: 50px;
					background-color: $title-light-pink;
					-webkit-transition: $transition;
					-o-transition: $transition;
					-ms-transition: $transition;
					-moz-transition: $transition;
					transition: $transition;
					&:hover {
						background-color: $title-color-hover;
						color: $title-color-white;
					}
				}
			}
			a.page-link {
				width: 50px;
				height: 50px;
				line-height: 50px;
				padding: 0;
				text-align: $align-center;
				border: none;
				border-radius: 50px;
				background-color: #ebf5f6;
				color: $title-color-hover;
				-webkit-transition: $transition;
				-o-transition: $transition;
				-ms-transition: $transition;
				-moz-transition: $transition;
				transition: $transition;
				&:hover {
					background-color: $title-color-hover;
					color: $title-color-white;
				}
				&:focus {
					box-shadow: none;
				}
			}
		}
	}
}

iframe {
	width: $my-width;
}