/*---------
 section
-----------*/

// home3 btn
.home3-btn {
	display: inline-block;
	background: $bg-color3;
	color: $title-color-white;
	padding: 0px 25px !important;
	border-radius: 50px;
	border: 1px solid transparent;
	line-height: 40px;
	&:hover {
		background-color: transparent;
		color: $bg-color3;
		border: 1px solid $bg-color3;
	}
}

.bg-white {
	background-color: $title-color-white;
	color: $section-bg-color3 !important;
	&:hover {
		background-color: transparent !important;
		color: $title-color-white !important;
		border: 1px solid $title-color-white;
	}
}

// button hover color
.bg-yellow {
	background-color: $bg-color3 !important;
	&:before {
		background: #fae2c2 !important;
	}
	span {
		background-color: #fae2c2 !important;
		color: $bg-color3 !important;
		-webkit-transition: $transition;
		-o-transition: $transition;
		-ms-transition: $transition;
		-moz-transition: $transition;
		transition: $transition;
	}
	&:hover {
		color: $bg-color3 !important;
		span {
			background-color: $bg-color3 !important;
			color: $title-color-white !important;
		}
	}
}

// heading color
.text-color-change3 {
	color: $bg-color3;
}

// index 03 page css start
.banner-main-wrapper3 {
	float: left;
	width: 100%;
	.carousel {
		.carousel-item {
			background-image: url("../images/home3/bg-Image-01.jpg");
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 700px;
			text-align: center;
			padding: 150px 0px;
			button{
				border: none;
				background-color: transparent;
			}
			h4 {
				color: #444444;
				margin-bottom: 20px;
			}
			h2 {
				font-weight: $font-weight1;
				span {
					color: $section-bg-color3;
					line-height: 66px;
				}
			}
			p {
				margin-top: 20px;
			}
		}
		.carousel-indicators {
			button {
				height: 7px;
				width: 7px;
				border-radius: 50px;
				background-color: $section-bg-color3;
				border: 0 !important;
				-webkit-transition: $transition;
				-o-transition: $transition;
				-ms-transition: $transition;
				-moz-transition: $transition;
				transition: $transition;
				&.active {
					opacity: 1;
					width: 32px !important;
					height: 7px !important;
				}
			}
		}
	}
}

// service section start
.service-section3 {
	p {
		clear: both;
		margin-top: 7px;
	}
	.sb-about-section {
		.icon {
			float: left;
			width: 70px;
			height: 70px;
			margin: auto;
			border-radius: 50%;
			background: #4e72d0;
			margin-right: 15px;
			svg {
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				fill: $title-color-white;
			}
			&.bg-color1 {
				background: #5bc199;
			}
			&.bg-color2 {
				background: $yellow-color;
			}
		}
		h5 {
			line-height: 70px;
			margin-left: 15px;
		}
		a {
			color: $yellow-color;
			display: inline-block;
			margin-top: 10px;
		}
		&:hover {
			a {
				color: #4e72d0;
			}
		}
	}
}

// about section css 
.about-main-wrapper3 {
	h4 {
		font-weight: $font-weight1;
		font-size: $h4-font-size !important;
	}
}

// service section css
.service-slider-wrappe3 {
	.owl-carousel {
		.slider-content3 {
			position: relative;
			margin-top: 50px;
			background-color: $title-color-white;
			padding: 40px 30px;
			h6 {
				font-size: 22px;
			}
			.icon {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				background: #4e72d0;
				margin-right: 15px;
				svg {
					position: relative;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 40px;
				}
				img {
					position: absolute;
					width: 75px;
					top: 45px;
					right: 25px;
				}
				&.bg-green {
					background-color: #5bc199;
				}
				&.bg-pink {
					background-color: #d6425b;
				}
			}
		}
		.owl-nav {
			button {
				background-color: #fae2c2 !important;
				color: $bg-color3!important;
				&:hover {
					background-color: $bg-color3 !important;
					color: #fae2c2!important;
				}
			}
		}
	}
}

// gallery section start
.gallery-main-wrapper {
	position: unset;
	background-image: unset;
	padding: 100px 0 !important;
	&:before {
		display: none;
	}
	.overlay-color {
		background: #ff9f21a3 !important;
	}
}

// gallery about section
.about-gallery-main3 {
	background-image: url('../images/home3/about-gallery.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0;
	.text-color-yellow {
		color: $bg-color3;
	}
	.text-color-white {
		color: $title-color-white;
	}
	p {
		font-size: $font-size-20;
		line-height: 27px;
	}
}

// our team section
.our-team-main3 {
	section {
		.team-box {
			position: relative;
			text-align: $align-center;
			.icon {
				h6 {
					font-size: $font-size-22;
				}
				width: $my-width;
				height: $my-height;
				background: $title-color-white;
				-webkit-transition: $transition;
				-o-transition: $transition;
				-ms-transition: $transition;
				-moz-transition: $transition;
				transition: $transition;
				transform: translateY(0px) rotateX(0deg);
				padding: 20px;
			}
			.details {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: $section-bg-color3;
				transition: 0.5s;
				transform-origin: bottom;
				transform: translateY(-100px) rotateX(90deg);
				ul {
					padding: 19px 15px;
					li {
						a {
							color: $title-color-white;
							font-size: 18px;
							width: 50px;
							display: inline-block;
							height: 50px;
							border: 1px solid $title-color-white;
							line-height: 50px;
							border-radius: 50px;
							-webkit-transition: $transition;
							-o-transition: $transition;
							-ms-transition: $transition;
							-moz-transition: $transition;
							transition: $transition;
							&:hover {
								background-color: $bg-color3;
								color: $title-color-white;
								border-color: $bg-color3;
							}
						}
					}
				}
			}
		}
		&:hover {
			.icon {
				transform: translateY(100%) rotateX(90deg);
			}
			.details {
				transform: translateY(0) rotateX(0deg);
			}
		}
	}
}

// counter section css 
.counter-main3 {
	background-image: url('../images/home3/counter3-bg.jpg');
	&:after {
		display: none !important;
	}
	.text-color-black {
		color: $title-color !important;
	}
	svg {
		fill: $bg-color3 !important;
	}
	.count-up {
		.bg-border-yellow {
			border-color: #fae2c2 !important;
		}
		&:hover {
			.bg-border-yellow {
				background-color: $bg-color3 !important;
				svg {
					fill: $title-color-white !important;
				}
			}
		}
	}
}

// our blog section css
.blog-main3 {
	.blog-box {
		.img-overlay {
			background-color: #ff9e21ab !important;
		}
		.img-icon {
			.bg-yellow {
				background-color: $bg-color3 !important;
			}
		}
		.text-yellow {
			color: $bg-color3!important;
		}
		a {
			&:hover {
				color: $bg-color3 !important;
			}
		}
		&:hover {
			a {
				color: $bg-color3;
				border-bottom-color: $bg-color3 !important;
			}
		}
	}
}

// testimonial section css
.testimonial-main3 {
	background-image: url('../images/home3/bg-test-img.jpg');
	.text-color-white {
		color: $title-color-white;
	}
	.owl-carousel {
		.item {
			padding: 35px 45px;
			background-color: #2222228a;
			position: relative;
			border-radius: 7px;
			span {
				position: absolute;
				left: 0;
				top: 0;
				background-color: $bg-color3;
				width: 65px;
				height: 65px;
				line-height: 40px;
				padding-left: 10px;
				clip-path: polygon(0 0, 0% 100%, 100% 0);
				color: $title-color-white;
				border-top-left-radius: 7px;
			}
		}
		.owl-nav {
			display: block;
			position: absolute;
			top: -110px;
			right: 0;
			button {
				height: 50px;
				width: 50px;
				background-color: #fae2c2;
				border-radius: 50px;
				color: $bg-color3;
				-webkit-transition: $transition;
				-o-transition: $transition;
				-ms-transition: $transition;
				-moz-transition: $transition;
				transition: $transition;
				&:hover {
					background-color: $bg-color3;
					color: $title-color-white;
				}
			}
		}
	}
}

// footer section css
.footer-main3 {
	.input-box {
		input {
			background-color: #516c75 !important;
		}
		i {
			background-color: $bg-color3 !important;
		}
	}
	.footer-media {
		a {
			&:before {
				background-color: $bg-color3 !important;
			}
		}
	}
	.links {
		ul {
			li {
				a {
					&:hover {
						color: $bg-color3;
					}
				}
			}
		}
	}
}